<%= form_for [current_manager, @movie, @actor] do |actor|%>
    <div class="form-group">
        <%= actor.file_field :actor_image%>
    </div>
    <div class="form-group">
        <%= actor.label :name%>
        <%= actor.text_field :name, class:'form-control', placeholder:' Enter Name'%>
    </div>
    <div class="form-group">
        <%= actor.label :role%>
        <%= actor.text_field :role, class:'form-control', placeholder:' Enter Name'%><br>
    </div>
    <%= actor.submit 'submit', class:'btn btn-success'%>
<% end %>